<div class="block-summary" *ngIf="blockData">
    <h2>Block Summary</h2>
    <p><strong>Block Number:</strong> {{ blockData.blockNumber }}</p>
    <p><strong>Timestamp:</strong> {{ blockData.timestamp | date:'medium' }}</p>
  
    <div>
      <h2>Block Summary Chart</h2>
      <div class="chart-container">
        <!-- <canvas  id="MyChart" >{{ chart }}</canvas> -->
        <canvas baseChart 
          [type]="'pie'" 
          [data]="chartData"            
          [options]="chartOptions">
        </canvas>

        <canvas baseChart 
          [type]="'pie'" 
          [data]="gasData"            
          [options]="gasChartOptions">
        </canvas>
      </div>
    </div>

    <h3>Transactions</h3>    
    <div *ngIf="blockData.transactions?.etherTransfers?.length">
      <div *ngFor="let transaction of blockData.transactions.etherTransfers" class="transaction">
        <p><strong>From:</strong> {{ transaction.from }}</p>
        <p><strong>To:</strong> {{ transaction.to }}</p>
        <p><strong>Value:</strong> {{ transaction.value | number }} ETH</p>
        <p><strong>Gas Used:</strong> {{ transaction.gas }}</p>
      </div>
    </div>
  </div>
  